$lightred:lighten(red, 20%);
$white: #FAFAFA;
$light-blue: #C7EEFF;
$blue: #0077C0;
$black: #1D242B;

.white-bg {
	background-color:$white;
}

body,html {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.text-shadow {
	text-shadow: 2px 2px 4px #000000;
}

footer.page-footer {
	margin-top:0px;
	button{
		margin-bottom:10px;
	}
}

.ng-invalid.ng-dirty{
  border-color:$lightred;
}

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}


.gallery-section {
  .panel{
    border:none;
    border-radius:0;
  }
  img{
    width:100%;
    display:block;
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .date {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.60);
    color: white;
  }
  .description {
    color:black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
