$lightred:lighten(red, 20%);

body,html {
	height:100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding-top:25px;
	margin-bottom:150px;
}


 .navbar-nav>li>a{
	 border-bottom:2px solid transparent;
	 	&:hover{
			border-bottom:2px solid black;
		}
 }

button {
	background-color:white;
	color:black;
	border:2px solid black;
	padding:8px;
	&:hover, &:focus {
		color:white;
		background:black;
	}
}

.ng-invalid.ng-dirty{
  border-color:$lightred;
}

.footer {
	padding:15px;
	form{
		width:400px;
		margin:0 auto;
	}
	.form-group {
		width:300px;
		display:inline-block;
	}
	input {
		height:40px;
		box-shadow:none;
		border:2px solid transparent;
		border-radius:0;
	}
	button {
		display:inline-block;
	}
}

#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}


.gallery-section {
  .panel{
    border:none;
    border-radius:0;
  }
  img{
    width:100%;
    display:block;
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .date {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.60);
    color: white;
  }
  .description {
    color:black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

//Contact Page
.contact {
	input{
		border:2px solid lightgray;
		height:40px;
		border-radius: 0px;
	}
	textarea{
		border:2px solid lightgray;
		border-radius:0px;
	}
}
