<div class="container">
  <div class="row">
    <div class="col m12">
      <h1>ABOUT</h1>
      <p>UCONN VSA strives to preserve and promote the Vietnamese culture through various events such as charity, cultural shows, trips, and collaboration with other VSAs. We encourage anyone with interest in Vietnamese culture to join! </p>
      <p>History, when its founded.</p>
      <h1>MEMBERSHIP</h1>
      <p>$5 all year. Some blurb about how you get all of this back and more. Can be purchased during events and meetings</p>
    </div>
  </div>
</div>
