<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>About</h3>
      <p>UCONN VSA strives to preserve and promote the Vietnamese culture through various events such as charity, cultural shows, trips, and collaboration with other VSAs. We encourage anyone with interest in Vietnamese culture to join! </p>
      <p>vsa's history, when its founded, what it's known for, and etc.</p>
      <h3>Membership (how to join)</h3>
      <p>where meetings are, when vsa usually meets, and etc.</p>
      <p>$5 all year. Some blurb about how you get all of this back and more. Can be purchased during events and meetings</p>
    </div>
  </div>
</div>
