<div class="container">
  <div class="row">
    <div class="col m12 contact">
      <div class="page-header">
        <h1 class="center-align">CONTACT</h1>
      </div>
      <p class="center-align">You can also contact us at <a href="mailto:uconnvsa@gmail.com">uconnvsa@gmail.com</a></p>
      <div class="col m8 offset-m2">
        <form name="contactForm" ng-submit="" novalidate>
          <div input-field>
              <input type="text" id="name" name="name" ng-model="contact.name" required>
              <label>Name *</label>
          </div>
          <div input-field>
              <input type="email" id="email" name="email" ng-model="contact.email" required>
              <label>Email *</label>
          </div>
          <div input-field>
              <input type="text" id="subject" name="subject" ng-model="contact.subject" required>
              <label>Subject *</label>
          </div>
          <div input-field>
              <textarea class="materialize-textarea" id="message" name="message" ng-model="contact.message" required></textarea>
              <label>Message *</label>
          </div>
          <button class="btn waves-effect waves-light right blue accent-3" type="submit" name="action">Send Message
            <i class="material-icons right">send</i>
          </button>
        </form>
      </div>
    </div4
  </div>
</div>
