<div class="parallax-container valign-wrapper" style="height:300px;">
  <div class="valign" style="margin:0 auto;">
    <div class="parallax"><img class="responsive-img" src="img/contact.jpg"></div>
    <h3 class="white-text text-shadow center-align">Contact Us</h3>
  </div>
</div>
<div class="section blue lighten-4" >
  <div class="row container">
    <div class="col m10 offset-m1 s12 contact">
      <div class="card-panel" style="bottom-padding:50px;">
        <p class="center-align">You can also contact us at <a href="mailto:uconnvsa@gmail.com">uconnvsa@gmail.com</a></p>
        <form name="contactForm" style="width:100%;" ng-submit="contactForm.$valid && contactCtrl.sendMail(contact)" novalidate>
          <div input-field>
              <i class="material-icons prefix">account_circle</i>
              <input type="text" id="name" name="name" ng-model="contact.name" required>
              <label>Name *</label>
          </div>
          <div input-field>
            <i class="material-icons prefix">email</i>
              <input type="email" id="email" name="email" ng-model="contact.from" required>
              <label>Email *</label>
          </div>
          <div input-field>
              <i class="material-icons prefix">subject</i>
              <input type="text" id="subject" name="subject" ng-model="contact.subject" required>
              <label>Subject *</label>
          </div>
          <div input-field>
              <i class="material-icons prefix">message</i>
              <textarea class="materialize-textarea" id="message" name="message" ng-model="contact.message" required></textarea>
              <label>Message *</label>
          </div>
          <button class="btn waves-effect waves-light right blue accent-3" type="submit" name="action">Send Message
            <i class="material-icons right">send</i>
          </button>
        </form>
       </div>
    </div>
  </div>
</div>
