<div class="container">
  <div class="row">
    <div class="col m12">
      <h1>Executive Board</h1>
      <p>2016-2017 Executive Board</p>

      <p>Year, Major, Hometown, Favorite Food, What does VSA mean to you?</p>


      <h2>CO-PRESIDENTS</h2>
      <p>Candy Jin </p>
      <p>Monique Mai </p>
      <h2>CHIEF FINANCIAL OFFICER </h2>
      <p>Fudi Zhan</p>
      <h2>Secretary</h2>
      <p>Jessica Nguyen</p>
      <h2>Event Coordinator</h2>
      <p>Jimmy Zhang</p>
      <h2>Fundraising Chair</h2>
      <p>Lawrence Zhu</p>
      <h2>Public Relations</h2>
      <p>Keiona Khen</p>
      <h2>Senior Advisors</h2>
      <p>Kevin Hoang</p>
      <p>Mina Nguyen</p>
    </div>
  </div>
</div>
