<div class="parallax-container valign-wrapper">
  <div class="valign" style="margin:0 auto;">
    <div class="parallax"><img class="responsive-img" src="img/eboard.jpeg"></div>
    <h3 class="white-text center-align">Executive Board</h3>
    <h5 class="white-text center-align">2016 - 2017</h5>
  </div>
</div>
<div class="section" style="background-color: #FFE5CE;">
  <div class="row container">
    <div class="col s12">
      <div class="card-panel hide-on-med-and-down" ng-repeat="eboard in eboardCtrl.eboard">
          <div class="row" style="margin-bottom:0;">
            <div class="col l6 s12 offset-l1">
               <img class="responsive-img" ng-src="img/{{eboard.image}}">
            </div>
            <div class="col l5 s12">
              <h5 class="grey-text text-darken-4"> {{eboard.name}} | {{eboard.position}} </h5>
              <p><b>Hometown:</b> {{eboard.hometown}}</p>
              <p><b>Year:</b> {{eboard.year}}</p>
              <p><b>Major:</b> {{eboard.major}}</p>
              <p><b>Favorite Food:</b> {{eboard.favoriteFood}}</p>
              <p><b>What does VSA mean to you?</b><br> {{eboard.vsaMeaning}}</p>
            </div>
        </div>
      </div>
      <div class="card hide-on-large-only" ng-repeat="eboard in eboardCtrl.eboard">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" ng-src="img/{{eboard.image}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{eboard.name}}<i class="material-icons right">more_vert</i></span>
          <p>{{eboard.position}}</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{eboard.name}} | {{eboard.position}}<i class="material-icons right">close</i></span>
          <p><b>Hometown:</b> {{eboard.hometown}}</p>
          <p><b>Year:</b> {{eboard.year}}</p>
          <p><b>Major:</b> {{eboard.major}}</p>
          <p><b>Favorite Food:</b> {{eboard.favoriteFood}}</p>
          <p><b>What does VSA mean to you?</b><br> {{eboard.vsaMeaning}}</p>
        </div>
      </div>
<!--
      <h2>CO-PRESIDENTS</h2>
      <p>Candy Jin </p>
      <p>Monique Mai </p>
      <h2>CHIEF FINANCIAL OFFICER </h2>
      <p>Fudi Zhan</p>
      <h2>Secretary</h2>
      <p>Jessica Nguyen</p>
      <h2>Event Coordinator</h2>
      <p>Jimmy Zhang</p>
      <h2>Fundraising Chair</h2>
      <p>Lawrence Zhu</p>
      <h2>Public Relations</h2>
      <p>Keiona Khen</p>
      <h2>Senior Advisors</h2>
      <p>Kevin Hoang</p>
      <p>Mina Nguyen</p>
    -->
    </div>
  </div>
</div>
