<div class="parallax-container valign-wrapper" style="height:300px;">
  <div class="valign" style="margin:0 auto;">
    <div class="parallax"><img class="responsive-img" src="img/contact.jpg"></div>
    <h3 class="white-text text-shadow center-align">Events</h3>
  </div>
</div>
<div class="section">
  <div class="row container">
    <div class="col s12">
      <p>Talk about past, current, and future Meetings, Events, Fundraisers</p>
      <p>Some sort of calendar of the events and etc. and show upcoming events</p>
    </div>
  </div>
</div>
