<div class="parallax-container valign-wrapper" style="height:300px;">
  <div class="valign" style="margin:0 auto;">
    <div class="parallax"><img class="responsive-img" src="img/contact.jpg"></div>
    <h3 class="white-text text-shadow center-align">Events</h3>
  </div>
</div>
<div class="section grey lighten-4">
  <div class="row container">
    <div class="col l9 s12">
      <p>Talk about past, current, and future Meetings, Events, Fundraisers</p>
      <div class="card-panel z-depth-0 animated fadeIn">
        <div ui-calendar ng-model="eventSources"></div>
      </div>
    </div>
    <div class="col s3">

    </div>
  </div>
</div>
