<div class="home">
  <div class="parallax-container valign-wrapper">
    <div class="valign" style="margin:0 auto;">
      <div class="parallax"><img class="responsive-img" src="img/eboard2.jpg"></div>
      <h2 class="white-text text-shadow center-align">University of Connecticut</h2>
      <h2 class="white-text text-shadow center-align">Vietnamese Student Association</h2>
      <button class="btn waves-effect waves-light z-depth-0" type="submit" name="action" ng-click="homeCtrl.learnMore();" style="margin:0 auto; display:block;">Learn More</button>
    </div>
  </div>
  <div class="section grey lighten-4" >
    <div class="row container">
      <div class="card-panel z-depth-0">
        <h4 class="black-text text-darken-2 center-align">Mission Statement</h4>
        <p class="center-align">The University of Connecticut Vietnamese Student Association shall stage cultural and social events that reflect the ideas and values of its members. It shall also strive to preserve the culture of Vietnam and extend it outside of the club as well as unite students sharing the same heritage. Our association exists to promote a better understanding of the Vietnamese culture.</p>
      </div>
    </div>
  </div>
  <div class="section grey lighten-4" >
    <div class="row container">
      <div class="col l6 offset-l3 m6 offset-m6 s12">
        <a href="/eboard">
            <i class="red-text text-darken-1 medium material-icons">supervisor_account</i>
            <h5 class="black-text text-darken-2 center-align">Executive Board</h5>
            <p class="center-align"> Meet the hardworking and inspiring leaders behind UConn VSA </p>
        </a>
      </div>
    </div>
  </div>
  <div class="site-actions section grey lighten-4">
    <div class="row container">
      <div class="col l4 m4 s12">
        <a href="/events">
            <i class="red-text text-darken-1 medium material-icons">today</i>
            <h5 class="black-text text-darken-2 center-align ">Events</h5>
            <p class="center-align">
             VSA holds many events throughout the year. Take a look at our calendar to see when your favorite event is.
            </p>
        </a>
      </div>
      <div  class="col l4 m4 s12">
        <a href="/media">
            <i class="red-text text-darken-1 medium material-icons">movie</i>
            <h5 class="black-text text-darken-2 center-align ">Media</h5>
            <p class="center-align">
              Check out the pictures and videos from our past events.
            </p>
        </a>
      </div>
      <div class="col l4 m4 s12">
        <a href="/network">
            <i class="red-text text-darken-1 medium material-icons">language</i>
            <h5 class="black-text text-darken-2 center-align">Network</h5>
            <p class="center-align">
             See how VSA gets involved locally, regionally, and nationally.
            </p>
        </a>
      </div>
    </div>
  </div>
</div>
