<div class="parallax-container valign-wrapper">
  <div class="valign" style="margin:0 auto;">
    <div class="parallax"><img class="responsive-img" src="img/sherwin.jpg"></div>
    <h2 class="white-text center-align">University of Connecticut</h2>
    <h2 class="white-text center-align">Vietnamese Student Association</h2>
    <button class="btn waves-effect waves-light blue accent-3" type="submit" name="action" style="margin:0 auto; display:block;">Learn More</button>
  </div>
</div>
<div class="section blue-grey lighten-2">
  <div class="row container">
      <h3 class="white-text center-align">Mission Statement</h3>
    <div class="card-panel">
      <p class="center-align">The University of Connecticut Vietnamese Student Association shall stage cultural and social events that reflect the ideas and values of its members. It shall also strive to preserve the culture of Vietnam and extend it outside of the club as well as unite students sharing the same heritage. Our association exists to promote a better understanding of the Vietnamese culture.</p>
    </div>
     </div>

</div>
<div class="parallax-container">
  <div class="parallax"><img class="responsive-img" src="img/mountains.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h4 class="center-align">Some title</h4>
    <div  class="col l4 s12">
      <div class="card-panel">
         <span>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
    </div>
    <div  class="col l4 s12">
      <div class="card-panel">
         <span>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
    </div>
    <div  class="col l4 s12">
      <div class="card-panel">
         <span>I am a very simple card. I am good at containing small bits of information.
         I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
         </span>
       </div>
    </div>
  </div>
</div>
