<div class="container">
  <div class="row">
    <div class="col m12">
      <section class="center-align">
        <h1>University of Connecticut</h1>
        <h2>Vietnamese Student Association</h2>
      </section>
      <section class="center-align">
        <h2>Mission Statement</h1>
        <p>The club shall stage cultural and social events that reflect the ideas and values of its members. It shall also strive to preserve the culture of Vietnam and extend it outside of the club as well as unite students sharing the same heritage. Our association exists to promote a better understanding of the Vietnamese culture.</p>
      </section>
      <p>Meetings, Events, Fundraisers, Food, Culture, Family, Collaborations, LNY</p>

    </div>
  </div>
</div>
